<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Big TestNG Test" preserve-order="true">
    <listeners>
        <listener class-name="com.aventstack.extentreports.testng.listener.ExtentITestListenerAdapter"/>
        <!--<listener class-name="com.big.utils.AnnotationTransformer"/>-->
    </listeners>
<!--   <groups>
        <run>
            <exclude name="Sanity"/>
            <include name="Regression"/>
            <include name="google"/>
            <include name="Smoke"/>
        </run>
    </groups>-->
    <test name="Google Search">
        <classes>
            <class name="com.qa.openkart.Tests.LoginPageTest">
	            <methods>
		            <include name="Fetch_title"/>
		            <include name="Logins"/>
	            </methods>
            </class>
        	<class name="com.qa.openkart.Tests.HomePageTest">
	        	<methods>
		            <include name="Operations_2"/>
		            <include name="Click_Leads"/>
	            </methods>
            </class>
        </classes>
    </test>
</suite>